.solid {
  border: solid 2px black;
}
.dashed {
  border: dashed 2px black;
}
.dotted {
  border: dotted 2px black;
}
.double {
  border: double 4px black;
}
.none {
  border: none;
}

p {
  border-radius: 10px;
  padding: 0.5rem;
}